
<div class="container">
	<form id="register_form">
		<div class="form-group">
			<label for="id">ID:</label>
			<input type="text" class="form-control" id="id" placeholder="아이디 입력" name="id">
		</div>
		<div class="form-group">
			<label for="pwd">PWD:</label>
			<input type="password" class="form-control" id="pwd" placeholder="비밀번호 입력" name="pwd">
		</div>
		<div class="form-group">
			<label for="pwd">PWD2:</label>
			<input type="password" class="form-control" id="pwd2" placeholder="비밀번호 확인" name="pwd2">
		</div>
		<div class="form-group">
			<label for="name">name:</label>
			<input type="text" class="form-control" id="name" placeholder="이름 입력" name="name">
		</div>
		<div class="form-group">
			<label for="gender">gender:</label>
			<input type="text" class="form-control" id="gender" placeholder="성별 M or F" name="gender">
		</div>
		<div class="form-group">
			<label for="age">age:</label>
			<input type="text" class="form-control" id="age" name="age">
		</div>
		<div class="form-group">
			<label for="birth">birth:</label>
			<input type="text" class="form-control" id="age" name="age">
		</div>
		<div class="form-group">
			<label for="tel">tel:</label>
			<input type="text" class="form-control" id="age" name="age">
		</div>
		<div class="form-group">
			<label for="addr">addr:</label>
			<input type="text" class="form-control" id="age" name="age">
		</div>
	</form>
	<button class="btn btn-default">회원가입</button>
</div>
<!-- 성별과 나이 생일 고민하기 -->
<!-- https://hgko1207.github.io/2019/01/18/javascript-postcode/ 우편번호는 이거를 사용하고 싶음 -->