<script>

$(document).ready(function(){
	$('#register_btn').click(function(){
		$('#register_form').attr({
			'method':'post',
			'action':'/cust/registerimpl'
		});
		$('#register_form').submit();
	});

    $("#custid").keyup(function(event){
        if (!(event.keyCode >=37 && event.keyCode<=40)) {
            var inputVal = $(this).val();
            $(this).val(inputVal.replace(/[^a-z0-9]/gi,''));
        }
    });
    
    $("#custpwd").keyup(function(event){
        var pattern1 = /[0-9]/;
        var pattern2 = /[a-zA-Z]/;
        var pattern3 = /[~!@\#$%<>^&*]/;
        var custpwd = $(this).val();
    	 if(!pattern1.test(custpwd)||!pattern2.test(custpwd)||!pattern3.test(custpwd)||custpwd.length<8){
			$('#pspan2').text('8자이상 영문 , 숫자, 특수문자를 사용하세요.');    		 
    	 }else{
			$('#pspan2').text('Correct');    		     		 
    	 }
    });

	$('#custpwd2').keyup(function(){
		var custpwd = $('#custpwd').val();
		var custpwd2 = $('#custpwd2').val();
		if(custpwd == custpwd2){
			$('#pspan').text('Correct');
		}else{
			$('#pspan').text('Incorrect');
			
		}
		
	});
	
	$('#custid').keyup(function(){
		var custid = $(this).val();
		$.ajax({
			url:'/checkid',
			data:{'cid':custid},
			success:function(result){
				if(result == 't'){
					$('#ispan').text('가능');
				}else{
					$('#ispan').text('불가능');
				}
					
			}
				
		});
	});
		
});
</script>

        <h1 class="h3 mb-0 text-gray-800">회원 가입</h1>
  <hr>
<div class="container">
	<form id="register_form">
		<div class="form-group">
			<label for="id">아이디 :</label>
			<input type="text" class="form-control" id="custid" placeholder="아이디 입력" name="custid">
			<span id="ispan"></span>
		</div>
		<div class="form-group">
			<label for="pwd">비밀번호 :</label>
			<input type="password" class="form-control" id="custpwd" placeholder="영문+숫자+특수문자 8글자조합" name="custpwd">
			<span id="pspan2"></span>
		</div>
		<div class="form-group">
			<label for="pwd">비밀번호 확인 :</label>
			<input type="password" class="form-control" id="custpwd2" placeholder="비밀번호 확인" name="custpwd2">
			<span id="pspan"></span>
		</div>
		<div class="form-group">
			<label for="name">이름 :</label>
			<input type="text" class="form-control" id="custname" placeholder="이름 입력" name="custname">
		</div>
		<div class="form-group">
			<label for="gender">성별 :</label>
			<input type="text" class="form-control" id="gender" placeholder="성별 M or F" name="gender">
		</div>
		<div class="form-group">
			<label for="age">나이 :</label>
			<input type="text" class="form-control" id="age" placeholder="" name="age">
		</div>
		<div class="form-group">
			<label for="birth">생일 :</label>
			<input type="text" class="form-control" id="birth" placeholder="YYYY-MM-dd" name="birth">
		</div>
		<div class="form-group">
			<label for="tel">전화번호 :</label>
			<input type="text" class="form-control" id="tel" placeholder="'-'포함 010-XXXX-XXXX 입력해주세요" name="tel">
		</div>
		<div class="form-group">
			<label for="addr">주소 :</label>
			<input type="text" class="form-control" id="addr" placeholder="도/시 를 입력해주세요" name="addr">
		</div>
	</form>
	<button id="register_btn" class="btn btn-info">회원가입</button>
</div>