   
<script>
$(document).ready(function(){
	$('#up_btn').click(function(){
		var num = $('#num').val();
		var result = Number(num) +1;
		$('#num').val(result);
	});
	$('#down_btn').click(function(){
		var num = $('#num').val();
		if(num=='0'){
			return;
		}
		var result = Number(num) -1;
		$('#num').val(result);
	});
});
</script>
   <div class="card-body">
   <table>
   	<thead>
	   	<tr>
	   		<th>
				<img src="#">
	   		</th>
	   	</tr>
   	</thead>
   	<tbody>
   		<tr>
	   		<td id="itemid" th:text="${itemdetail.itemid}"></td>
   		</tr>
   		<tr>
			<td th:text="'Item Name:'+${itemdetail.itemname}"></td>
   		</tr>
   		<tr>
			<td th:text="'Item Price:'+${itemdetail.price}"></td>
   		</tr>
   	</tbody>
   </table>
   </div>
   
<div>

	<input type="number" value="0" class="form-control" id="num" readonly="readonly">
	
        <button type="button" class="btn btn-default btn-sm" id="up_btn">
          <span class="glyphicon glyphicon-arrow-up"></span> 증가
        </button>

        <button type="button" class="btn btn-default btn-sm" id="down_btn">
          <span class="glyphicon glyphicon-arrow-down"></span> 감소
        </button>
        
        <button type="button" class="btn btn-default btn-sm" id="cart_btn">
          <span class="glyphicon glyphicon-shopping-cart"></span>카트에 담기
        </button>        
        <button type="button" class="btn btn-default btn-sm" id="buy_btn">
          <span class="glyphicon glyphicon-shopping-cart"></span>구매하기
        </button>        
</div>