<meta charset="utf-8">
<style>
table>tbody>tr>td>img {
	width: 100px;
}

table>tbody>tr>td>img:hover {
	width: 99px;
	border: 1px solid #FE6B00;
}

.btn:hover {
	background-color: #FE6B00;
	color: white;
}

table.totalprice th {
	cellpadding: 0px
}

table.table td {
	border-bottom: solid #E9E9E9
}

table.table th {
	border-top: solid #E9E9E9
}

table.table th {
	border-bottom: solid #E9E9E9
}

table.table4 th {
	border-top: solid #E9E9E9
}
</style>

<script>
	function del(cartid) {
		var custid = '[[${session.logincust.custid}]]';
		var c = confirm('삭제 하시겠습니까 ?');
		if (c == true) {
			location.href = '/deletecart?id=' + cartid + '&custid=' + custid;
		}
	}

	$(document).ready(function() {

		var rowCnt = 0;

		var col1Idx = 0; // 첫번째 col index

		var col1Sum = 0; // 첫번째 col sum

		// loop row
		$("#tbl_data tr").each(function() {
			// 첫번째 줄 건너뜀
			if (rowCnt != 0) {
				// td dom 객체를 얻어옴
				var sell = $(this).children("td");
				// loop col
				$(sell).each(function() {
					var idx = $(this).index();
					var val = $(this).text();

					if (idx == col1Idx) {
						col1Sum += parseInt(val);
					} else if (idx == col2Idx) {
						col2Sum += parseInt(val);
					} else if (idx == col3Idx) {
						col3Sum += parseInt(val);
					}
				});
			}
			rowCnt++;
		});
		// 합계를 출력
		$("#a_sum").text(col1Sum);

	});
	
	var funcSetCurrency=function($){
		$('#a_sum').each(function(){
		if(!isNaN(Number($(this).text())) && $(this).text()) $(this).text(Number($(this).text()).toLocaleString().split('.')[0]);
		});
		};

		$(document).ready(function(){
		funcSetCurrency($);
		});
	</script>
	
	<script>
	/* 수량버튼 */
	$(".plus_btn").on("click", function(){
		let quantity = $(this).parent("div").find("input").val();
		$(this).parent("div").find("input").val(++quantity);
	});
	$(".minus_btn").on("click", function(){
		let quantity = $(this).parent("div").find("input").val();
		if(quantity > 1){
			$(this).parent("div").find("input").val(--quantity);		
		}
	});
	/* 수량 수정 버튼 */
	$(".quantity_modify_btn").on("click", function(){
		let cartId = $(this).data("cartid");
		let bookCount = $(this).parent("td").find("input").val();
		$(".update_cartid").val(cartid);
		$(".update_cnt").val(cnt);
		$(".quantity_update_form").submit();
		
	});
	</script>

			
<div class="container-fluid">
	<h2>장바구니</h2>
	<p></p>
	
	<table class="table table-hover">
		<thead>
			<tr>
			
				<th>No</th>
				<th>Image</th>
				<th>Item Name</th>
				<th>Price(&#8361;)</th>
				<th>Count</th>
				<th>TotalPrice(&#8361;)</th>
				<th>
					<button type="button" class="btn btn-sm">
						<a th:href="@{/payment(id=${custdetail.custid})}"><span
							class="material-icons-outlined color">credit_card</span>구매하기</a>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${mycart}">
			
			
				<td id="cartid" th:text="${c.cartid}">NO</td>
				<td><img th:src="'/img/item/'+${c.img}"></td>
				<td th:text="${c.itemname}">Item Name</td>
				<td th:text="${#numbers.formatInteger(c.price, 3, 'COMMA')}"></td>
				<td th:text="${c.cnt}">Count</td>
				<td th:text="${#numbers.formatInteger(c.totalprice, 3, 'COMMA')}">TotalPrice</td>
				<td>
					<button type="button" th:onclick="del([[${c.cartid}]]);"
						class="btn btn-sm">
						<span class="material-icons">delete</span>
					</button>
					
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container-fluid">
	<table id="tbl_data" class="totalprice2">
		<thead>
			<tr>
				<th> (&#8361;)&nbsp&nbsp&nbsp예상 결제 금액&nbsp&nbsp:&nbsp</th>
				<th  id="a_sum"></th>
				<th>원</th>
				<th>
					<button type="button" class="btn btn-sm">
						<a th:href="@{/payment(id=${custdetail.custid})}"><span
							class="material-icons-outlined color">credit_card</span>구매하기</a>
					</button>
				</th>
			</tr>
		<tbody>
			<tr style="display: none" th:each="ca : ${mypricecart}">
				<td th:text="${ca.totalprice}">합계금액</td>
			</tr>
		</thead>
	</table>
</div>

			<!-- 수량 조정 form -->
			<form action="/cartupdate" method="post" class="quantity_update_form">
				<input type="hidden" name="cartid" class="update_cartid">
				<input type="hidden" name="cnt" class="update_cnt">
				<input type="hidden" name="custid" value="${cust.custid}">
			</form>		
			
		</div>

</body>
</html>
