<meta charset="UTF-8">
<script>
 $(document).ready(function(){
	$('#up_btn').click(function(){
		var num = $('#num').val();
		var result = Number(num) +1;
		$('#num').val(result);
	});
	$('#down_btn').click(function(){
		var num = $('#num').val();
		if(num=='0'){
			return;
		}
		var result = Number(num) -1;
		$('#num').val(result);
	});
 	$('#cart_btn').click(function(){
		var itemid = $('#itemid').text();
		var itemnum = $('#num').val();
		var custid = '[[${session.logincust.custid}]]';
		if(itemnum=='0'){
			alert('수량 입력');
			return;
		}
		$.ajax({
			url:'/addcart',
			data:{
				'custid':custid,
				'itemid':itemid,
				'cnt':itemnum},
			success:function(data){
				$('#myModal').modal();
			}
		});
	});
 	
 	$('#buy_btn').click(function(){
		var itemid = $('#itemid').text();
		var itemnum = $('#num').val();
		var custid = '[[${session.logincust.custid}]]';
		if(itemnum=='0'){
			alert('수량 입력');
			return;
		}
		$('#num').attr({
			'method':'post',
			'action':'/pay'
		});
		$('#num').submit();
	});

});
</script>
   <div class="card-body">
   <table>
   	<thead>
	   	<tr>
	   		<th>
				<img src="#">
	   		</th>
	   	</tr>
   	</thead>
   	<tbody>
   		<tr>
	   		<td id="itemid" th:text="${itemdetail.itemid}"></td>
   		</tr>
   		<tr>
			<td th:text="'Item Name:'+${itemdetail.itemname}"></td>
   		</tr>
   		<tr>
			<td th:text="'Item Price:'+${itemdetail.price}"></td>
   		</tr>
   		<tr>
			<td>상품 리뷰</td>
   		</tr>
   		<tr th:if="${itemreview != null}">
			<td th:text="${itemreview.custid}+' : '+${itemreview.rvtxt}"></td>
   		</tr>
   	</tbody>
   </table>
   </div>
   
<div>

	<input type="number" value="0" class="form-control" id="num" readonly="readonly">
	
        <button type="button" class="btn btn-default btn-sm" id="up_btn">
          <span class="glyphicon glyphicon-arrow-up"></span> 증가
        </button>

        <button type="button" class="btn btn-default btn-sm" id="down_btn">
          <span class="glyphicon glyphicon-arrow-down"></span> 감소
        </button>
        
         <button type="button" class="btn btn-default btn-sm" id="cart_btn">
          <span class="glyphicon glyphicon-shopping-cart"></span>카트에 담기
        </button>
              
        <button type="button" class="btn btn-default btn-sm" id="buy_btn">
          <span class="glyphicon glyphicon-shopping-cart"></span>구매하기
        </button>        
    <!--Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">장바구니에 담았습니다</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">장바구니 장바구니</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">버튼</a>
                </div>
            </div>
        </div>
    </div>
</div>

