<meta charset="UTF-8">
<script>
 $(document).ready(function(){
	$('#up_btn').click(function(){
		var num = $('#num').val();
		var result = Number(num) +1;
		$('#num').val(result);
	});
	$('#down_btn').click(function(){
		var num = $('#num').val();
		if(num=='0'){
			return;
		}
		var result = Number(num) -1;
		$('#num').val(result);
	});
 	$('#cart_btn').click(function(){
		var itemid = $('#itemid').val();
		var itemnum = $('#num').val();
		var custid = '[[${session.logincust.custid}]]';
		if(itemnum=='0'){
			alert('수량 입력');
			return;
		}
		$.ajax({
			url:'/addcart',
			data:{
				'custid':custid,
				'itemid':itemid,
				'cnt':itemnum},
			success:function(data){
				$('#myModal').modal();
			}
		});
	});
});
</script>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="card o-hidden border-0  my-0">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                    <img th:src="'/img/item/'+${itemdetail.img}">
                    </div>
                    
                    <div class="col-lg-7">
                        <div class="p-0">

                           <form class="user">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" 
                                       id="itemid" th:value="${itemdetail.itemid}" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" 
                                        th:value="${itemdetail.itemname}" readonly="readonly">
                                </div>
                                <div class="form-group">
                                 <input type="text" class="form-control form-control-user" 
                                        th:value="${itemdetail.price}" readonly="readonly" >                                   
                                </div>
                                <hr>
                                
							<input type="number" value="0" class="form-control" id="num" readonly="readonly">
						
					        <button type="button" class="btn btn-default btn-sm" id="up_btn">
								<span class="material-icons">expand_less</span>
					        </button>
					
					        <button type="button" class="btn btn-default btn-sm" id="down_btn">
								<span class="material-icons">keyboard_arrow_down</span>
					        </button>
                          </form>
                            
                            	<hr>
                                <a type="button" href="#" class="btn btn-info btn-user btn-block" id="cart_btn">
                                <span class="material-icons">add_shopping_cart</span>
                                </a>                            	
							<hr>
                            <div class="form-group" th:if="${itemreview != null}">
                            	<table>
                            		<thead>
                                        <tr>
                                        	<th>리뷰</th>
                            			</tr>
                            		</thead>
                            		<tbody>
                            			<tr th:each="i : ${itemreview}">
                            				<td th:text="${i.custid}+' : '+${i.rvtxt}"></td>
                            			</tr>
                            		</tbody>
                            	</table>                              
                            </div>	
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
<!-- 

   <div class="card-body">
   <table>
   	<thead>
	   	<tr>
	   		<th>
				<img th:src="'/img/item/'+${itemdetail.img}">
	   		</th>
	   	</tr>
   	</thead>
   	<tbody>
   		<tr>
	   		<td id="itemid" th:text="${itemdetail.itemid}"></td>
   		</tr>
   		<tr>
			<td th:text="'Item Name:'+${itemdetail.itemname}"></td>
   		</tr>
   		<tr>
			<td th:text="'Item Price:'+${itemdetail.price}"></td>
   		</tr>
   		<tr>
			<td>상품 리뷰</td>
   		</tr>
   		<tr th:if="${itemreview != null}">
			<td th:text="${itemreview.custid}+' : '+${itemreview.rvtxt}"></td>
   		</tr>
   	</tbody>
   </table>
   </div>
   
<div>

	<input type="number" value="0" class="form-control" id="num" readonly="readonly">
	
        <button type="button" class="btn btn-default btn-sm" id="up_btn">
		<span class="material-icons">expand_less</span>
        </button>

        <button type="button" class="btn btn-default btn-sm" id="down_btn">
		<span class="material-icons">keyboard_arrow_down</span>
        </button>
        
         <button type="button" class="btn btn-default btn-sm" id="cart_btn">
		<span class="material-icons">shopping_cart</span>
        </button> -->
             
    <!--Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">장바구니에 담았습니다</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">장바구니로 가시겠습니까?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">쇼핑 계속하기</button>
                    <a class="btn btn-primary" th:href="@{/cart(id=${session.logincust.custid})}">장바구니로</a>
                </div>
            </div>
        </div>
    </div>
</div>

