<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>전자제품 온라인 쇼핑몰 멀티전자</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Cairo&family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"rel="stylesheet">
        
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Filled|Material+Icons+Rounded|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 
      
      
  <!-- 메인화면 상품 이미지 잘리는 에러 발생하여 주석 처리함  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->    
    
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>    
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
<style>
.material-icons.color { color: #000000; }
.material-icons.maincolor { color: rgba(0, 0, 0, 0.70); font-size: 18px; font-weight: bold; }
 ul> li> a:hover{color: #fe6b00;}
 div > a > img{width:170px;}
</style> 
    
<script>
function enterkey(){
	if(window.event.keyCode == 13){
		$('#login_form').attr({
			'method':'post',
			'action':'/loginimpl'
		});
		$('#login_form').submit();
	};
	
};
function enterkey2(){
	if(window.event.keyCode == 13){
		$('#search_form').attr({
			'method':'post',
			'action':'/searchimpl'
		});
		$('#search_form').submit();
	};
	
};


$(document).ready(function(){
	$('#login_btn').click(function(){
		$('#login_form').attr({
			'method':'post',
			'action':'/loginimpl'
		});
		$('#login_form').submit();
		
	});
	
	$('#search_btn').click(function() {
		$('#search_form').attr({
			'method':'post',
			'action':'/searchimpl',
		});
		$('#search_form').submit();
	});
	
	
});
</script>    
    
</head>

<body>

    <!-- Js Plugins 맨 아래 적용되어 있음 --> 

    <!-- Page Preloder 화면전환 효과(속도 느려져서 주석처리함) -->
<!--     <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Humberger Begin -->

    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo" >
                        <a href="/"><img src="/img/mainlogo.jpg" alt=""></a>
                    </div>
                </div>
                
<!--                 <div class="hero__search">
                    <div class="hero__search__form">
                        <form id="search_form" >
                            <input id="search_input" type="text" placeholder="What do yo u need?">
                            <button id="search_btn" type="button" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div> -->
                     
<!--                     <form id="search_form">
                        <div class="input-group">
                        
                            <input name="txt" type="text" placeholder="검색어를 입력해주세요">
                            <div class="input-group-append">
                                <button id="search_btn" type="button" class="site-btn"><span class="material-icons">search
							</span></button>
                            </div>
                        </div>
                    </form>     --> 
                    
                 <div class="hero__search">
                    <div class="hero__search__form">
                        <form id="search_form" >
                            <input id="search_input" name="txt" type="text" placeholder="" onkeyup="enterkey2()">
                            <input type="text" style="display:none" onkeyup="enterkey2()">
                            <!-- 더미를 주지 않으면 서치가 searchimpl?txt= 로 가는게 아니라 ?txt로 가버린다 -->
                            <button id="search_btn" type="button" class="site-btn"><span class="material-icons">search
							</span></button>
                        </form>
                    </div>
                </div>                          
                
                
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul th:if="${session.logincust == null}">
                            <li><a type="button" class="material-icons md maincolor" href="#" data-toggle="modal" data-target="#loginModal">로그인</a></li>
                            <li><a type="button" class="material-icons md maincolor" href="/cust/register">회원가입</a></li>
                        </ul>
                        <ul th:if="${session.logincust != null}">
                            <li><a type="button" class="material-icons md maincolor" th:href="@{/custdetail(id=${session.logincust.custid})}" th:text="${session.logincust.custname}+'님'">person</a></li>
                        	<li><a th:href="@{/cart(id=${session.logincust.custid})}" class="material-icons md color">shopping_cart</a></li>
                            <li><a type="button"  href="/logout" class="material-icons md color">logout</a></li>
                        </ul>                        
                    </div>
                </div>                                 
                
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
<!--                     <div class="header__blank" >
                        <a href="#" ><img src="img/blank.png" ></a>
                    </div> -->
                    <div class="hero__categories">
                        <div class="main__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>전체 카테고리</span>
                        </div>
                    </div>
                                
                    <div class="hero__categories1">
                        <div class="hero__categories__all1">
                            <i></i>
                            <span>음향 기기</span>
                        </div>
                        <ul>
                            <li><a href="/earphone">이어폰</a></li>
                            <li><a href="/headphone">헤드폰</a></li>
                        </ul>
                    </div>
                    
                    <div class="hero__categories2">
                        <div class="hero__categories__all2">
                            <i></i>
                            <span>모바일</span>
                        </div>
                        <ul>
                            <li><a href="/smartphone">스마트폰</a></li>
                            <li><a href="/smartwatch">스마트 워치</a></li>
                            <li><a href="/tablet">태블릿</a></li>
                        </ul>
                    </div>
                    
                    <div class="hero__categories3">
                        <div class="hero__categories__all3">
                            <i></i>
                            <span>노트북</span>
                        </div>
                        <ul>
                            <li><a href="/office">사무용 노트북</a></li>
                            <li><a href="/game">게이밍 노트북</a></li>
                        </ul>
                    </div>
                    
                    
                    
<!--                     <div class="hero__categories4">
                        <div class="hero__categories__all4">
                            <i></i>
                            <span>컴퓨터</span>
                        </div>
                        <ul>
                            <li><a href="#">Fresh Meat</a></li>
                            <li><a href="#">Vegetables</a></li>
                            <li><a href="#">Fruit & Nut Gifts</a></li>
                            <li><a href="#">Fresh Berries</a></li>
                            <li><a href="#">Ocean Foods</a></li>
                            <li><a href="#">Butter & Eggs</a></li>
                        </ul>
                    </div> -->
                                                                                
                </div>
                 
               	<div class="col-lg-9">
	               <!-- ${center}는 html파일 이름을 파라미터로 받는다.  -->
		           <div class="container-fluid" th:insert="${center} ? ${center} : maincenter">                 


                
               </div>                     
              </div>
              
                
           
             </div>
                
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->

    <!-- Categories Section End -->

    <!-- Featured Section Begin -->

    <!-- Featured Section End -->

    <!-- Banner Begin -->

    <!-- Banner End -->

    <!-- Latest Product Section Begin -->

    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="#"><img src="img/flogo.jpg" alt=""></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>주식회사 멀티전자</h6>
							<p class="text__content">
								주소 : 서울시 강남로 테헤란로 123-4
								<br>
								사업자등록번호 : 123-45-67890 | 통신판매업신고 : 강남 12345호
								<br>
								대표이사 : 고길동
							</p>	

                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer__widget">
                        <h6>고객센터 안내</h6>
                        	<p class="text__content">
        	                    주소 : 서울시 강남로 테헤란로 123-4 5층
        	                    <br>
    	                        전화번호 : 1234-5678 (평일 09:00 ~ 18:00)
    	                        <br>
	                            Fax : 02-123-4567
	                            <br>
                            	Mail : multielec@mutielec.com
                            </p>

                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    
    <!-- Login Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그인</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                 <form id="login_form" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="ID"
                                aria-label="ID" aria-describedby="basic-addon2" name="custid" onkeyup="enterkey()">
                            <input type="password" class="form-control bg-light border-0 small" placeholder="PWD"
                                aria-label="PWD" aria-describedby="basic-addon2" name="custpwd" onkeyup="enterkey()">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a id="login_btn" class="btn btn-info" href="#">Login</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">정말 로그아웃 하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>