<meta charset="utf-8">
<style>
table>tbody>tr>td>img {
	width: 100px;
}

table>tbody>tr>td>img:hover {
	width: 99px;
	border: 1px solid #FE6B00;
}

table th, td {
	text-align: center;
}

.btn:hover {
	background-color: #FE6B00;
	color: white;
}

table.table td {
	border-bottom: solid #E9E9E9
}

 table.table th {
	border-top: solid #E9E9E9
}

table.table th {
	border-bottom: solid #E9E9E9
}

</style>

<script>
function del(orderid){
	var custid = '[[${session.logincust.custid}]]';
	var c = confirm('삭제 하시겠습니까 ?');
	if(c == true){
		location.href='[[@{/deleteorderlist?id=}]]'+orderid+'&custid='+custid;
	}
}
</script>

<div class="container-fluid">
	<h2>구매이력</h2>
	<p></p>
	<table class="table table-hover">
	<colgroup> 
    	<col style="width: 1%;"/> 
        <col style="width: 20%;"/> 
        <col style="width: 12%;"/> 
        <col style="width: 10%;"/> 
        <col style="width: 15%;"/> 
        <col style="width: 18%;"/> 
        <col style="width: 15%;"/> 
        <col style="width: 10%;"/> 
		<thead>
			<tr>
				<th>no</th>
				<th>상품 이미지</th>
				<th>상품명</th>
				<th>수량</th>
				<th>주문일</th>
				<th>배송상태</th>
				<th>구매금액</th>
				<th>삭제</th>


			</tr>
		</thead>
		<tbody>
			<tr th:each="o : ${myordercart}">
				<td id="orderid" th:text="${o.orderid}">no</td>
				<td><img th:src="@{/img/item/}+${o.img}"></td>
				<td th:text="${o.itemname}">상품명</td>
				<td th:text="${o.itemcnt}">수량</td>
				<td th:text="${#dates.format(o.orderdate, 'yyyy-MM-dd HH:mm:ss')}">주문일</td>
				<td th:text="${o.shipsearch}">배송상태</td>
				<td
					th:text="${#numbers.formatInteger(o.totalprice, 3, 'COMMA')}+'원'">TotalPrice</td>
				<td id="itemid" style="display: none" th:text="${o.itemid}">구매금액</td>
				<td>
					<button type="button" th:onclick="del([[${o.orderid}]]);"
						class="btn btn-dark btn-sm">
						<span class="material-icons">delete</span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>