<script>
/** 우편번호 찾기 */
function execDaumPostcode() {
    daum.postcode.load(function(){
        new daum.Postcode({
            oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
              $("#postcode").val(data.zonecode);
              $("#address").val(data.roadAddress);
            }
        }).open();
    });
}
$(document).ready(function(){
	$('#pay_btn').click(function(){
		var custid=$('#custid').text();
		var cnt=$('#cnt').text();
		var shipname=$('#shipname').val();
		//얘들은 텍스트박스에서 왔기때문에 애초에 텍스트데이터 ->따라서 변수로 가져오면 해결
		var shiptel=$('#shiptel').val();
		var shipaddr=$('#shipaddr').val();
		//위에 ship 텍스트들이 값이 안들어옴 왜일까 이게아니라 로그인임플처럼 넘겨야할거같다
		location.href="/paymentimpl?custid="+custid+'&shipname='+shipname+'&shiptel='+shiptel+'&shipaddr='+shipaddr;
	});
});
</script>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<!-- Content Row -->


	<div class="d-sm-flex align-items-center justify-content-between mb-4">
	    <h1 class="h4 mb-0 text-gray-800">결제 정보</h1>
	</div>

     <!-- Hist Chart -->
     <div class="col-md-12 mb-4">
         <div class="card shadow mb-4">

             <!-- Card Body -->
             <div class="card-body">
        	<div id="container1">
					  <table class="table table-hover">
					    <thead>
					      <tr>
					        <th style=text-align:center;>제품 사진</th>
					        <th style=text-align:center;>제품명</th>
					        <th style=text-align:center;>가격</th>
					        <th style=text-align:center;>수량</th>
					        <th>	
					         </th>	
					      </tr>
					    </thead>
						   <tbody>
						      <tr th:each="c : ${mycart}">
						        <td>
						        	<img th:src="'/img/item/'+${c.img}" style="width: 350px; min-width: 350px;">
						        </td>
						        <td style= text-align:center;vertical-align:middle; id="itemid" th:text="${c.itemname}">Item Name</td>
						        <td style= text-align:center;vertical-align:middle; id="price" th:text="${c.price}">Price</td>
						        <td style= text-align:center;vertical-align:middle; id="cnt" th:text="${c.cnt}">Count</td>
						        <td style="display: none" id="custid" th:text="${c.custid}">custid</td>
						      </tr>
						    </tbody>
					  </table>
        	</div>
             </div>
             
         </div>
     </div>

     <div class="col-md-12 mb-4">
         <div class="card shadow mb-4">
             <!-- Card Body -->
             <div class="card-body">
                <div id="container2">
			 <h4>수령자 정보</h4>
			 <hr>
				<form action="/action_page.php" id="ship_form">
				    <div class="form-group">
				      <label for="shipname">이름:</label>
				      <input type="text" class="form-control" id="shipname" name="shipname">
				    </div>
				    <div class="form-group">
				      <label for="shiptel">연락처:</label>
				      <input type="text" class="form-control" id="shiptel" name="shiptel">
				    </div>
				    <div class="form-group">
				      <label for="shipaddr">주소:</label>
				      <input type="text" class="form-control" id="shipaddr" name="shipaddr">
				      <!-- 임시로 ship에 들어가는지 테스트하기 위한 input -->
				      <div class="form-group m-form__group row">
  <div class="col-md-2">
    <input type="text" class="form-control m-input" name="postcode" id="postcode" placeholder="우편번호" readonly />
  </div>

  <div class= box-left "col-md-6 offset-md-3">
    <input
      type="text"
      class="form-control m-input m--margin-top-10"
      name="address"
      id="address"
      placeholder="도로명 주소"
      readonly
    />
  </div>

  <div class= box-right "col-md-3 offset-md-5">
    <input
      type="text"
      class="form-control m-input m--margin-top-10"
      name="detailAddress"
      placeholder="상세 주소"
      required
    />
  </div>
  
  <div class=box-right "col-md-2 postcode-btn">
    <button type="button" class="btn btn-info m-btn--air" onclick="execDaumPostcode()">우편번호 찾기</button>
  </div>
  
</div>

<!--autoload=false 파라미터를 이용하여 자동으로 로딩되는 것을 막습니다.-->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>
				    <div style="display: flex; justify-content: center;">
				    <button id="pay_btn" type="button" class="btn btn-primary" style="height:60px; width:800px; font-size:30px;">구매하기</button>
				    </div>
				  </form>               

                
                </div>
             </div>
         </div>
     </div>
     





<br>
<br>
<br>
<br>



<div class="modal hidden">
  <div class="bg"></div>
  <div class="modalBox">
    <p>마이페이지에서 구매 이력을 확인하시겠습니까?</p>
    <button type="button" onclick="location.href='주소 입력'">구매이력 확인</button>
    <button type="button" onclick="location.href='주소 입력'">메인으로 돌아가기</button>
  </div>
</div>

</body>