    
    
    <div>
    	이&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;름&nbsp; <input type="text"><br>
    	연&nbsp;락&nbsp;처&nbsp; <input type="tel"><br>
    	
    </div>
    
    
    
    
    
 <div class="form-group m-form__group row">
  <label class= box-left"col-md-1 offset-md-2 col-form-label">
    주&nbsp;&nbsp;소&nbsp;&nbsp;<span class="m--font-orange vertical-middle">*</span>
  </label>
  <div class="col-md-2">
    <input type="text" class="form-control m-input" name="postcode" id="postcode" placeholder="우편번호" readonly />
  </div>

  <div class= box-left "col-md-6 offset-md-3">
    <input
      type="text"
      class="form-control m-input m--margin-top-10"
      name="address"
      id="address"
      placeholder="도로명 주소"
      readonly
    />
  </div>

  <div class= box-right "col-md-3 offset-md-5">
    <input
      type="text"
      class="form-control m-input m--margin-top-10"
      name="detailAddress"
      placeholder="상세 주소"
      required
    />
  </div>
  
  <div class=box-right "col-md-2 postcode-btn">
    <button type="button" class="btn btn-info m-btn--air" onclick="execDaumPostcode()">우편번호 찾기</button>
  </div>
  
</div>

<!--autoload=false 파라미터를 이용하여 자동으로 로딩되는 것을 막습니다.-->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>

<script>
/** 우편번호 찾기 */
function execDaumPostcode() {
    daum.postcode.load(function(){
        new daum.Postcode({
            oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
              $("#postcode").val(data.zonecode);
              $("#address").val(data.roadAddress);
            }
        }).open();
    });
}
</script>






<button class="openBtn">구매하기</button>
<div class="modal hidden">
  <div class="bg"></div>
  <div class="modalBox">
    <p>마이페이지에서 구매 이력을 확인하시겠습니까?</p>
    <button type="botton" onclick="location.href='주소 입력'">구매이력 확인</button>
    <button type="botton" onclick="location.href='주소 입력'">메인으로 돌아가기</button>
  </div>
</div>

<button class="openBtn">구매취소</button>
<div class="modal hidden">
  <div class="bg"></div>
  <div class="modalBox">
    <p>구매를 취소하시겠습니까?</p>
    <button class="closeBtn">예(메인으로 돌아가기)</button>
    <button class="closeBtn">아니오(결제버튼 클릭예정)</button>
  </div>
</div>