<script>
/** 우편번호 찾기 */
function execDaumPostcode() {
    daum.postcode.load(function(){
        new daum.Postcode({
            oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
              $("#postcode").val(data.zonecode);
              $("#address").val(data.roadAddress);
            }
        }).open();
    });
}
$(document).ready(function(){
	$('#pay_btn').click(function(){
		var custid=$('#custid').text();
		location.href="/paymentimpl?custid="+custid;
	});
});
</script>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
    	<h2>결제 대기 상품</h2>
	</div>    
 </body>

 <br> 
 <br>
 <br> 
  <table class="table">
    <thead>
      <tr>
      	<th>No</th>
        <th>Image</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="c : ${mycart}">
        <td id="cartid" th:text="${c.cartid}">NO</td>
        <td> <img th:src="'/img/'+${c.img}"> </td>
        <td id="itemid" th:text="${c.itemname}">Item Name</td>
        <td id="price" th:text="${c.price}">Price</td>
        <td id="cnt" th:text="${c.cnt}">Count</td>
        <td id="custid" th:text="${c.custid}">custid</td>
      </tr>
    </tbody>
  </table>
    



	<div>
    	이&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;름&nbsp; <input type="text"><br>
    	연&nbsp;락&nbsp;처&nbsp; <input type="tel"><br>
	</div>    



 <div class="form-group m-form__group row">
  <label class= box-left"col-md-1 offset-md-2 col-form-label">
  &nbsp;&nbsp;&nbsp;  주&nbsp;&nbsp;소&nbsp;&nbsp;<span class="m--font-orange vertical-middle">*</span>
  </label>
  <div class="col-md-2">
    <input type="text" class="form-control m-input" name="postcode" id="postcode" placeholder="우편번호" readonly />
  </div>

  <div class= box-left "col-md-6 offset-md-3">
    <input
      type="text"
      class="form-control m-input m--margin-top-10"
      name="address"
      id="address"
      placeholder="도로명 주소"
      readonly
    />
  </div>

  <div class= box-right "col-md-3 offset-md-5">
    <input
      type="text"
      class="form-control m-input m--margin-top-10"
      name="detailAddress"
      placeholder="상세 주소"
      required
    />
  </div>
  
  <div class=box-right "col-md-2 postcode-btn">
    <button type="button" class="btn btn-info m-btn--air" onclick="execDaumPostcode()">우편번호 찾기</button>
  </div>
  
</div>

<!--autoload=false 파라미터를 이용하여 자동으로 로딩되는 것을 막습니다.-->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>




	<p>결제수단 선택</p>
		<link rel="stylesheet" href="css/pay_button_select.css">
		<script src="js/pay_button_select.js"></script>
		<input type="button" id="btn1" value="휴대폰 소액결제">
		<input type="button" id="btn2" value="무통장 입금">
		<input type="button" id="btn3" value="신용/체크 카드 결제">
	
<br>
<br>
<br>
<br>



<input type="button" id="pay_btn" value="결제하기">
<div class="modal hidden">
  <div class="bg"></div>
  <div class="modalBox">
    <p>마이페이지에서 구매 이력을 확인하시겠습니까?</p>
    <button type="button" onclick="location.href='주소 입력'">구매이력 확인</button>
    <button type="button" onclick="location.href='주소 입력'">메인으로 돌아가기</button>
  </div>
</div>

</body>