<meta charset="utf-8">
<style>
	table > tbody > tr > td > img {
		width:100px;
	} 
	table > tbody > tr > td > img:hover {
		width:99px;
		border:1px solid #FE6B00;
	} 


	
</style>
<script>
$(document).ready(function(){
	$('#review_btn').click(function(){
		var custid= '[[${session.logincust.custid}]]';
		var itemid= $('#itemid').text();
		//이 값이 왜 계속 1로 들어올까 -> 1이 들어가는게 아니라 제일 위에 있는 itemid가 들어가는 거였음
		//내가 적는 itemid
		var rvtxt=$('#rvtxt').val();
		location.href='/reviewimpl?custid='+custid+'&itemid='+itemid+'&rvtxt='+rvtxt;
	});
});
</script>

<div class="container-fluid">
  <h2>리뷰 작성 목록</h2>
  <p></p>            
  <table class="table table-hover">
    <thead>
      <tr>
      	<th>No</th>
      	<th>상품 이미지</th>
        <th>상품명</th>
        <th style="display:none">Itemid</th>       
        <th>가격</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="o : ${myreview}">
      	<td id="orderid" th:text="${o.orderid}">no</td>
      	<td><img th:src="'/img/item/'+${o.img}"></td>
        <td th:text="${o.itemname}">ItemName</td>
        <td id="itemid" th:text="${o.itemid}" style="display:none">Itemid</td>       
        <td th:text="${#numbers.formatInteger(o.totalprice, 3, 'COMMA')}">TotalPrice</td>
         <td> 
        	<button type="button" class="btn btn-info btn-sm" href="#" data-toggle="modal" data-target="#reviewModal">리뷰남기기
        	</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

   <!-- review Modal-->
    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">해당 제품의 리뷰를 남겨주세요</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="review_form">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0" placeholder="리뷰를 남겨주세요!"
                                aria-label="ID" aria-describedby="basic-addon2" id="rvtxt">
                        </div>
                    </form>
                
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a id="review_btn" class="btn btn-info" href="#">리뷰남기기/수정하기</a>
                </div>
            </div>
        </div>
    </div>