<meta charset="utf-8">

<style>

	table > tbody > tr > td > img{
	width:150px;
	}
	
</style>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">검색 결과</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Item Image</th>
                            <th>Item ID</th>
                            <th>Item Name</th>
                            <th>Item price</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="i : ${list}">
                            <td><img th:src="'/img/item/'+${i.img}"></td>
                            <td><a th:href="@{/detail(id=${i.itemid})}" th:text="${i.itemid}">item_id</a></td>
                            <td th:text="${i.itemname}">item_name</td>
                            <td th:text="${i.price}">item_price</td>
                            <td th:text="${#dates.format(i.itemrdate, 'yyyy-MM-dd')}">rdate</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>