<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.mapper.CartMapper">
	<select id="select" parameterType="Integer" resultType="CartDTO">
		SELECT * FROM cart WHERE cartid= #{cartid}
	</select>
	
	<select id="selectall" resultType="CartDTO">
		SELECT * FROM cart
	</select>
	
	<select id="registerall" resultType="CartDTO">
		SELECT * FROM cart ca
		INNER JOIN item it ON ca.itemid = it.itemid
		WHERE custid=#{custid}
	</select>
	
	<insert id="insert" parameterType="CartDTO">
		INSERT INTO cart VALUES (NULL,#{custid},#{itemid},#{cnt})
	</insert>
	
	<update id="update" parameterType="CartDTO">
		UPDATE cart SET custid=#{custid}, itemid=#{itemid}, cnt=#{cnt} WHERE cartid=#{cartid}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE cartid=#{cartid}
	</delete>
	
	<select id="cartall" parameterType="String" resultType="CartDTO">
		select ca.cartid, ca.custid, ca.itemid, ca.cnt, it.itemname, 
		it.price, it.img, ca.cnt*it.price as totalprice from cart ca
		INNER JOIN item it ON ca.itemid = it.itemid
		INNER JOIN cust cu ON ca.custid = cu.custid
		WHERE ca.custid= #{custid}
	</select>
	


</mapper>