<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CateMapper">
	
	<select id="select" parameterType="String" resultType="CateDTO">
		SELECT * FROM cate WHERE id=#{id}
	</select>
	<select id="selectall" resultType="CateDTO">
		SELECT * FROM cate
	</select>
	<insert id="insert" parameterType="CateDTO">
		INSERT INTO cate VALUES (#{cateid},#{topid},#{catelist})
	</insert>
	<update id="update" parameterType="CateDTO">
		UPDATE cate SET topid=#{topid}, catelist=#{catelist} WHERE CateID=#{cateid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM cate WHERE id=#{id}
	</delete>
	
</mapper>