<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.OrderdetailMapper">
	
	<select id="select" parameterType="Integer" resultType="OrderdetailDTO">
		SELECT * FROM orderdetail WHERE orderdetailno=#{orderdetailno}
	</select>
	<select id="selectall" resultType="OrderdetailDTO">
		SELECT * FROM orderdetail
	</select>
	<insert id="insert" parameterType="OrderdetailDTO">
		INSERT INTO orderdetail VALUES (#{orderdetailno},#{orderid},#{itemid},#{orderitem},#{shipsearch},#{itemprice},#{itemcnt})
	</insert>
	<update id="update" parameterType="OrderdetailDTO">
		UPDATE orderdetail SET orderid=#{orderid}, itemid=#{itemid}, orderitem=#{orderitem}, shipsearch=#{shipsearch}, itemprice=#{itemprice}, itemcnt=#{itemcnt} WHERE orderdetailno=#{orderdetailno}
	</update>
	<update id="shipupdate" parameterType="OrderdetailDTO">
		UPDATE orderdetail SET  shipsearch="배송완료" WHERE orderdetailno=#{orderdetailno}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM orderdetail WHERE orderdetailno=#{orderdetailno}
	</delete>
	
</mapper>